CONFIG VCCAUX  = 3.3;

NET "clk_50M" IOSTANDARD = LVCMOS33;
NET "clk_50M" SLEW = SLOW;
NET "clk_50M" TNM_NET = "tnm_clk50";
TIMESPEC TS_clk50 = PERIOD "tnm_clk50" 20 ns HIGH 50 %;

NET "TMDSp_clock" IOSTANDARD = TMDS_33;
NET "TMDSp[0]" IOSTANDARD = TMDS_33;
NET "TMDSp[1]" IOSTANDARD = TMDS_33;
NET "TMDSp[2]" IOSTANDARD = TMDS_33;

NET "TMDSp[2]" LOC = P67;
NET "TMDSn[2]" LOC = P66;
NET "TMDSp[1]" LOC = P56;
NET "TMDSn[1]" LOC = P55;
NET "TMDSp[0]" LOC = P51;
NET "TMDSn[0]" LOC = P50;
NET "TMDSp_clock" LOC = P41;
NET "TMDSn_clock" LOC = P40;
NET "clk_50M" LOC = P21;

NET "btn1" LOC = P133 | IOSTANDARD = LVCMOS33;
NET "btn2" LOC = P132 | IOSTANDARD = LVCMOS33;
NET "btn3" LOC = P131 | IOSTANDARD = LVCMOS33;

NET "dilswitch[0]" LOC = P134 | IOSTANDARD = LVCMOS33;
NET "dilswitch[1]" LOC = P137 | IOSTANDARD = LVCMOS33;
NET "dilswitch[2]" LOC = P138 | IOSTANDARD = LVCMOS33;
NET "dilswitch[3]" LOC = P139 | IOSTANDARD = LVCMOS33;
NET "dilswitch[4]" LOC = P140 | IOSTANDARD = LVCMOS33;
NET "dilswitch[5]" LOC = P141 | IOSTANDARD = LVCMOS33;
NET "dilswitch[6]" LOC = P142 | IOSTANDARD = LVCMOS33;
NET "dilswitch[7]" LOC = P143 | IOSTANDARD = LVCMOS33;

NET "led[0]" LOC = P44 | IOSTANDARD = LVCMOS33;
NET "led[1]" LOC = P45 | IOSTANDARD = LVCMOS33;
NET "led[2]" LOC = P46 | IOSTANDARD = LVCMOS33;
NET "led[3]" LOC = P47 | IOSTANDARD = LVCMOS33;
NET "led[4]" LOC = P57 | IOSTANDARD = LVCMOS33;
NET "led[5]" LOC = P58 | IOSTANDARD = LVCMOS33;
NET "led[6]" LOC = P59 | IOSTANDARD = LVCMOS33;
NET "led[7]" LOC = P61 | IOSTANDARD = LVCMOS33;

NET "UART_TX" LOC = P22 | IOSTANDARD = LVCMOS33;
NET "UART_RX" LOC = P23 | IOSTANDARD = LVCMOS33;

#NET "DDC_SCL" LOC = P48 | IOSTANDARD = I2C;
#NET "DDC_SDA" LOC = P62 | IOSTANDARD = I2C;

NET "clk12usb" LOC = P83 | IOSTANDARD = LVCMOS33;

#NET "usb_VBCOMP" LOC = P43 | IOSTANDARD = LVCMOS33;
#NET "usb_GPX" LOC = P75 | IOSTANDARD = LVCMOS33;
#NET "usb_RES" LOC = P79 | IOSTANDARD = LVCMOS33;
#NET "usb_INT" LOC = P81 | IOSTANDARD = LVCMOS33;
#NET "spi_SSusb" LOC = P78 | IOSTANDARD = LVCMOS33;
#NET "spi_SS2" LOC = P35 | IOSTANDARD = LVCMOS33;
#NET "spi_SCK" LOC = P74 | IOSTANDARD = LVCMOS33;
#NET "spi_MISO" LOC = P80 | IOSTANDARD = LVCMOS33;
#NET "spi_MOSI" LOC = P82 | IOSTANDARD = LVCMOS33;



CONFIG PROHIBIT = P39;
CONFIG PROHIBIT = P69;
CONFIG PROHIBIT = P64;
CONFIG PROHIBIT = P65;
CONFIG PROHIBIT = P70;
CONFIG PROHIBIT = P74;
CONFIG PROHIBIT = P60;
CONFIG PROHIBIT = P38;
CONFIG PROHIBIT = P144;
