
NET "TMDSp_clock" IOSTANDARD = TMDS_33;
NET "TMDSp[0]" IOSTANDARD = TMDS_33;
NET "TMDSp[1]" IOSTANDARD = TMDS_33;
NET "TMDSp[2]" IOSTANDARD = TMDS_33;

NET "TMDSp[2]" LOC = P127;
NET "TMDSn[2]" LOC = P126;
NET "TMDSp[1]" LOC = P124;
NET "TMDSn[1]" LOC = P123;
NET "TMDSp[0]" LOC = P115;
NET "TMDSn[0]" LOC = P114;
NET "TMDSp_clock" LOC = P112;
NET "TMDSn_clock" LOC = P111;

NET "DB[7]" LOC = P45 | IOSTANDARD = LVCMOS33;
NET "DB[6]" LOC = P44 | IOSTANDARD = LVCMOS33;
NET "DB[5]" LOC = P43 | IOSTANDARD = LVCMOS33;
NET "DB[4]" LOC = P41 | IOSTANDARD = LVCMOS33;
NET "DB[3]" LOC = P40 | IOSTANDARD = LVCMOS33;
NET "DB[2]" LOC = P35 | IOSTANDARD = LVCMOS33;
NET "DB[1]" LOC = P34 | IOSTANDARD = LVCMOS33;
NET "DB[0]" LOC = P33 | IOSTANDARD = LVCMOS33;
NET "AB[15]" LOC = P32 | IOSTANDARD = LVCMOS33;
NET "AB[14]" LOC = P30 | IOSTANDARD = LVCMOS33;
NET "AB[13]" LOC = P29 | IOSTANDARD = LVCMOS33;
NET "AB[12]" LOC = P27 | IOSTANDARD = LVCMOS33;
NET "AB[11]" LOC = P26 | IOSTANDARD = LVCMOS33;
NET "AB[10]" LOC = P24 | IOSTANDARD = LVCMOS33;
NET "AB[9]" LOC = P23 | IOSTANDARD = LVCMOS33;
NET "AB[8]" LOC = P22 | IOSTANDARD = LVCMOS33;
NET "AB[7]" LOC = P21 | IOSTANDARD = LVCMOS33;
NET "AB[6]" LOC = P17 | IOSTANDARD = LVCMOS33;
NET "AB[5]" LOC = P16 | IOSTANDARD = LVCMOS33;
NET "AB[4]" LOC = P15 | IOSTANDARD = LVCMOS33;
NET "AB[3]" LOC = P14 | IOSTANDARD = LVCMOS33;
NET "AB[2]" LOC = P12 | IOSTANDARD = LVCMOS33;
NET "AB[1]" LOC = P11 | IOSTANDARD = LVCMOS33;
NET "AB[0]" LOC = P10 | IOSTANDARD = LVCMOS33;

NET "AB[16]" LOC = P80 | IOSTANDARD = LVCMOS33;
NET "AB[17]" LOC = P81 | IOSTANDARD = LVCMOS33;
NET "AB[18]" LOC = P78 | IOSTANDARD = LVCMOS33;
NET "AB[19]" LOC = P79 | IOSTANDARD = LVCMOS33;
NET "AB[20]" LOC = P74 | IOSTANDARD = LVCMOS33;
NET "AB[21]" LOC = P75 | IOSTANDARD = LVCMOS33;
NET "AB[22]" LOC = P66 | IOSTANDARD = LVCMOS33;
NET "AB[23]" LOC = P67 | IOSTANDARD = LVCMOS33;

NET "R_WB" LOC = P82 | IOSTANDARD = LVCMOS33;
NET "E" LOC = P83 | IOSTANDARD = LVCMOS33;
NET "VPA" LOC = P104 | IOSTANDARD = LVCMOS33;
NET "NMIB" LOC = P105 | IOSTANDARD = LVCMOS33;
NET "IRQB" LOC = P101 | IOSTANDARD = LVCMOS33;
NET "RDY" LOC = P102 | IOSTANDARD = LVCMOS33;

NET "USBRESB" LOC = P99 | IOSTANDARD = LVCMOS33;
NET "USBGPX" LOC = P100 | IOSTANDARD = LVCMOS33;
NET "USBSS" LOC = P97 | IOSTANDARD = LVCMOS33;
NET "USBINT" LOC = P98 | IOSTANDARD = LVCMOS33;
NET "MOSI" LOC = P94 | IOSTANDARD = LVCMOS33;
NET "USBCLK" LOC = P95 | IOSTANDARD = LVCMOS33;
NET "SCK" LOC = P92 | IOSTANDARD = LVCMOS33;
NET "MISO" LOC = P93 | IOSTANDARD = LVCMOS33;

NET "RESB" LOC = P87 | IOSTANDARD = LVCMOS33;
NET "VDA" LOC = P88 | IOSTANDARD = LVCMOS33;

NET "PHI2" LOC = P84 | IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "PHI2_180" LOC = P85 | IOSTANDARD = LVCMOS33 | SLEW = FAST;

NET "RAM1_OEB" LOC = P9 | IOSTANDARD = LVCMOS33;
NET "RAM1_CEB" LOC = P8 | IOSTANDARD = LVCMOS33;

NET "SS2" LOC = P6 | IOSTANDARD = LVCMOS33;

NET "DDC_SDA" LOC = P140 | IOSTANDARD = LVCMOS33;
NET "DDC_SCL" LOC = P139 | IOSTANDARD = LVCMOS33;

CONFIG VCCAUX  = 3.3;

NET "clk_50M" IOSTANDARD = LVCMOS33;
NET "clk_50M" SLEW = SLOW;
NET "clk_50M" TNM_NET = "tnm_clk50";
TIMESPEC TS_clk50 = PERIOD "tnm_clk50" 20 ns HIGH 50 %;

NET "clk_50M" LOC = P50;


CONFIG PROHIBIT = P39;
CONFIG PROHIBIT = P69;
CONFIG PROHIBIT = P64;
CONFIG PROHIBIT = P65;
CONFIG PROHIBIT = P70;
#CONFIG PROHIBIT = P74;
CONFIG PROHIBIT = P60;
CONFIG PROHIBIT = P38;
CONFIG PROHIBIT = P144;


# PlanAhead Generated physical constraints 

NET "LED[0]" LOC = P138;
NET "LED[1]" LOC = P137;
NET "LED[2]" LOC = P134;
NET "LED[3]" LOC = P133;
NET "LED[4]" LOC = P120;
NET "LED[5]" LOC = P119;
NET "LED[6]" LOC = P118;
NET "LED[7]" LOC = P117;


# PlanAhead Generated IO constraints 

NET "LED[7]" IOSTANDARD = LVCMOS33;
NET "LED[6]" IOSTANDARD = LVCMOS33;
NET "LED[5]" IOSTANDARD = LVCMOS33;
NET "LED[4]" IOSTANDARD = LVCMOS33;
NET "LED[3]" IOSTANDARD = LVCMOS33;
NET "LED[2]" IOSTANDARD = LVCMOS33;
NET "LED[1]" IOSTANDARD = LVCMOS33;
NET "LED[0]" IOSTANDARD = LVCMOS33;

NET "btn1" LOC = P132 | IOSTANDARD = LVCMOS33;
NET "btn2" LOC = P131 | IOSTANDARD = LVCMOS33;

NET "UART_TX" LOC = P46 | IOSTANDARD = LVCMOS33;
NET "UART_RX" LOC = P47 | IOSTANDARD = LVCMOS33;

##NET "J4_1" LOC = P126 | IOSTANDARD = LVCMOS33;
##NET "J4_2" LOC = P127 | IOSTANDARD = LVCMOS33;
##NET "J4_3" LOC = P123 | IOSTANDARD = LVCMOS33;
##NET "J4_4" LOC = P124 | IOSTANDARD = LVCMOS33;
#NET "J4_5" LOC = P116 | IOSTANDARD = LVCMOS33;
#NET "J4_6" LOC = P121 | IOSTANDARD = LVCMOS33;
##NET "J4_7" LOC = P114 | IOSTANDARD = LVCMOS33;
##NET "J4_8" LOC = P115 | IOSTANDARD = LVCMOS33;
##NET "J4_9" LOC = P111 | IOSTANDARD = LVCMOS33;
##NET "J4_10" LOC = P112 | IOSTANDARD = LVCMOS33;
##NET "J4_13" LOC = P104 | IOSTANDARD = LVCMOS33;
##NET "J4_14" LOC = P105 | IOSTANDARD = LVCMOS33;
##NET "J4_15" LOC = P101 | IOSTANDARD = LVCMOS33;
##NET "J4_16" LOC = P102 | IOSTANDARD = LVCMOS33;
##NET "J4_17" LOC = P99 | IOSTANDARD = LVCMOS33;
##NET "J4_18" LOC = P100 | IOSTANDARD = LVCMOS33;
##NET "J4_19" LOC = P97 | IOSTANDARD = LVCMOS33;
##NET "J4_20" LOC = P98 | IOSTANDARD = LVCMOS33;
##NET "J4_21" LOC = P94 | IOSTANDARD = LVCMOS33;
##NET "J4_22" LOC = P95 | IOSTANDARD = LVCMOS33;
##NET "J4_23" LOC = P92 | IOSTANDARD = LVCMOS33;
##NET "J4_24" LOC = P93 | IOSTANDARD = LVCMOS33;
##NET "J4_25" LOC = P87 | IOSTANDARD = LVCMOS33;
##NET "J4_26" LOC = P88 | IOSTANDARD = LVCMOS33;
##NET "J4_27" LOC = P84 | IOSTANDARD = LVCMOS33;
##NET "J4_28" LOC = P85 | IOSTANDARD = LVCMOS33;
##NET "J4_31" LOC = P82 | IOSTANDARD = LVCMOS33;
##NET "J4_32" LOC = P83 | IOSTANDARD = LVCMOS33;
##NET "J4_33" LOC = P80 | IOSTANDARD = LVCMOS33;
##NET "J4_34" LOC = P81 | IOSTANDARD = LVCMOS33;
##NET "J4_35" LOC = P78 | IOSTANDARD = LVCMOS33;
##NET "J4_36" LOC = P79 | IOSTANDARD = LVCMOS33;
##NET "J4_37" LOC = P74 | IOSTANDARD = LVCMOS33;
##NET "J4_38" LOC = P75 | IOSTANDARD = LVCMOS33;
##NET "J4_39" LOC = P66 | IOSTANDARD = LVCMOS33;
##NET "J4_40" LOC = P67 | IOSTANDARD = LVCMOS33;
#
##NET "J5_1" LOC = P45 | IOSTANDARD = LVCMOS33;
##NET "J5_2" LOC = P44 | IOSTANDARD = LVCMOS33;
##NET "J5_3" LOC = P43 | IOSTANDARD = LVCMOS33;
##NET "J5_4" LOC = P41 | IOSTANDARD = LVCMOS33;
##NET "J5_5" LOC = P40 | IOSTANDARD = LVCMOS33;
##NET "J5_6" LOC = P35 | IOSTANDARD = LVCMOS33;
##NET "J5_7" LOC = P34 | IOSTANDARD = LVCMOS33;
##NET "J5_8" LOC = P33 | IOSTANDARD = LVCMOS33;
##NET "J5_9" LOC = P32 | IOSTANDARD = LVCMOS33;
##NET "J5_10" LOC = P30 | IOSTANDARD = LVCMOS33;
##NET "J5_13" LOC = P29 | IOSTANDARD = LVCMOS33;
##NET "J5_14" LOC = P27 | IOSTANDARD = LVCMOS33;
##NET "J5_15" LOC = P26 | IOSTANDARD = LVCMOS33;
##NET "J5_16" LOC = P24 | IOSTANDARD = LVCMOS33;
##NET "J5_17" LOC = P23 | IOSTANDARD = LVCMOS33;
##NET "J5_18" LOC = P22 | IOSTANDARD = LVCMOS33;
##NET "J5_19" LOC = P21 | IOSTANDARD = LVCMOS33;
##NET "J5_20" LOC = P17 | IOSTANDARD = LVCMOS33;
##NET "J5_21" LOC = P16 | IOSTANDARD = LVCMOS33;
##NET "J5_22" LOC = P15 | IOSTANDARD = LVCMOS33;
##NET "J5_23" LOC = P14 | IOSTANDARD = LVCMOS33;
##NET "J5_24" LOC = P12 | IOSTANDARD = LVCMOS33;
##NET "J5_25" LOC = P11 | IOSTANDARD = LVCMOS33;
##NET "J5_26" LOC = P10 | IOSTANDARD = LVCMOS33;
##NET "J5_27" LOC = P9 | IOSTANDARD = LVCMOS33;
##NET "J5_28" LOC = P8 | IOSTANDARD = LVCMOS33;
#NET "J5_31" LOC = P7 | IOSTANDARD = LVCMOS33;
##NET "J5_32" LOC = P6 | IOSTANDARD = LVCMOS33;
#NET "J5_33" LOC = P5 | IOSTANDARD = LVCMOS33;
#NET "J5_34" LOC = P2 | IOSTANDARD = LVCMOS33;
#NET "J5_35" LOC = P1 | IOSTANDARD = LVCMOS33;
#NET "J5_36" LOC = P143 | IOSTANDARD = LVCMOS33;
#NET "J5_37" LOC = P142 | IOSTANDARD = LVCMOS33;
#NET "J5_38" LOC = P141 | IOSTANDARD = LVCMOS33;
##NET "J5_39" LOC = P140 | IOSTANDARD = LVCMOS33;
##NET "J5_40" LOC = P139 | IOSTANDARD = LVCMOS33;

